/node_modules
/public/hot
/public/storage
/public/vendor/purple-admin-pro
/storage/*.key
/vendor
/vnotes
resources/views/test.blade.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
